.body{ 
    background-color:#b3dbd3;
    direction: default;
    
}


#mainbar{
    background-color: #77a59c;
    position: relative;
    z-index: 1;
    width: 101%;
    }

p{
    font-size: 2vmin;
}

.main{
    padding-top: 50px;
    font-weight: bold;
}

.footer-slide{
    background-color: #79a098;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.footer{
    background-color: #79a098;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    color: #e3e3e3;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    
}

.overflow-x{
    overflow-x: hidden;
}

.news{
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: #53bcc8;
    border-color: #53eeff;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    z-index: 0;
    opacity: 0;
    transition-duration: 1s;
    font-family: cursive;
}


.news:hover{
    opacity:1;
}

.news:out-of-range{
    opacity: 0;
}



.img{
    width: 100%;
    height: 100%;
    padding: 10px; 
    opacity: 1;
}





#calendar{
    background-color: #30686e;
    color: #54d4e2;
}

.navbar-brand{
    padding-top: 0%;
}

#welcome{
    color: #30686e;
}

.carousel-control-prev, .carousel-control-next{
    top: 60px;
    bottom: 60px;
    width: 3%;
    color: blue;
}

.carousel-control-prev:hover{
    width: 5%;
}

.carousel-control-next:hover{
    width: 5%;
}

.textboxin{
    border-style: none;
    border-bottom: solid;
    border-color: black;
    background-color: rgb(187, 179, 179);
}

#btn{
    background-color: rgb(170, 168, 168) !important;
    
    
}

#button{
    display:inline-block;
    padding:0.46em 1.6em;
    border:0.1em solid #000000;
    margin:0 0.2em 0.2em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:500;
    color:#54d4e2;
    text-shadow: 0 0.04em 0.04em #70f1ff;
    background-color:#00464e;
    text-align:center;
    transition: all 0.15s;
    }

#button:hover{
    text-shadow: 0 1 4em #3b8992;
    color:#90dae2;
    border-color:#FFFFFF;
    background-color: #30686e;
    }

.button1{
    height: 80px;
    width: 80px;
    margin: 75px 15px;
    font-size: 30px;
    font-weight: bold;
    background-color: darkgray;
}

.hidden{
    content: none;
    display: none;
}

.overflow-hidden{
    overflow: hidden;
}

/*calendar*/
.calendar-box {

}

.buttons-container {
  cursor: pointer;
}

.week {
  overflow: hidden;
}

.week.highlight {
  background: #efefef;
}

/* weekend */
.week .day:first-child, .week .day:last-child {
  color: rgb(101, 150, 243);
}

/* sunday */
.week .day:first-child {
  color: red;
}

.day {
  display: inline-block;
  float: left;
  width: 14.28%;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.day.disabled span {
  color: #AAA;
}

/* vertical highlight */
.week .day.highlight span {
  /*color: blue;*/
}

.day.selected span {
  /*background: orange;*/
}

.day.today span {
  font-weight: bold;
}

.months-container.hidden, .weeks-container.hidden {
  display: none;
}

.months-wrapper {
  overflow: hidden;
}

.months-wrapper .month {
  display: inline-block;
  float: left;
  width: 25%;
  text-align: center;
  cursor: pointer;
}
.months-wrapper .month.one-third {
  width: 33.33%;
}

.news-header{
    color: #888486;
    
}

.news-body{
    margin-bottom: 30px;
}

.news-container{
    background-image: url("../media/Summerstar-logo.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;

}

/* slider */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500&display=swap');

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #30686e;
    display: block;

    /* Center slide text vertically */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sun,
.safe,
.ballon,
.friends {
    width: 100%;
    height: 100vh;
    padding: 0 50px;
}

.section_container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.sun {
    background-color: #30334b;
}

.safe {
    background-color: #fff;
}

.ballon {
    background-color: #92B7FF;
}

.friends {
    background-color: rgb(0, 45, 75);
}

.image {
    width: 800px;
}

.image > img {
    width: 100%;
}

.text {
    width: 350px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: left;

}

.text > .title {
    font-size: 4rem; 
    font-weight: bold;
    margin-bottom: 50px;
}

.sun > .section_container > .text {
    color: #fff;
}

.text > .description {
    font-size: 1.8rem;
    font-weight: 400;
}

.safe > .section_container > .image {
    order: 2;
    width: 500px;
}

.safe > .text {
    color: #000;
}

.friends > .section_container > .text > .title {
    font-size: 45px;
}

.friends > .section_container > .text > .title > span {
    font-weight: 500;
}

.friends > .section_container > .text {
    color: #fff;
}

.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, 
.swiper-container-vertical>.swiper-pagination-progressbar {
    position: absolute;
    left: 95%;
    top: 25%;
    height: 50%;
}

